LogType=console

DBHost={{ env "DB_ADDR" }}
DBUser={{ with secret "secret/zabbix/db/user" }}{{ .Data.value }}{{ end }}
DBPassword={{ with secret "secret/zabbix/db/password" }}{{ .Data.value }}{{ end }}
DBPort=5432

StartPollers=1
StartTrappers=1
StartDBSyncers=1

AllowRoot=1

ValueCacheSize=16M
